*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F8F8F8;
}
.paginas{
    color:#F8F8F8;
    text-decoration: none;
    margin: 40px;
    font-family: "Inter";
    font-size: 15px;
}
#nav-decoracao{
    background-color: #48FAAF;
    height: 7vh;
}
#nav-principalongs{
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    height: 13vh;
    justify-content: space-around;
}
#logo-categoriaong{
    height: 65px;
    margin: 5px;
}
#perfil-categoriaong{
    border-radius: 33px;
    border-style: none;
    background-color: #1E1E1E;
    margin-top: 5px;
    margin-left: 150px;
    margin-right: 20px;
}
#descricao-ong{
    display: flex;
    font-family:"Inter";
    font-size: 20px;
    
}
#perfil-da-ong{
    margin-left: 150px;
    margin-top: 100px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.61);
    border-radius: 160px;
}
#info-ongs{
   margin-top: 190px;
   margin-left:60px ;
}
.infos{
    text-decoration: none;
    color:#1E1E1E;
    font-size: 18px;
    font-family: "Inter";
  }
#informacoes{
    padding: 14px;
    list-style: none;
    color: #1E1E1E;
    font-size: 27px;
}
#sobre-a-ong{
    transition: 1s;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-top: 50px; 
    padding-left: 150px;
    font-family: "Inter";
    font-size: 15px;
}
#area-rifas{
    margin-top: 40px;
    margin-left: 22%;
    margin-bottom: 30px;
    background-color:#F8F8F8;
    width: 750px;
    height: 10%;
    border-radius:12px ;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.61);
    transition: 1s;
    height: 100px;
    border-radius:12px ;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.61);
}
#rodape-rifas{
    width: 734px;
    height: 22px;
    background-color: #FF9900;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F8F8;
    font-family: "Inter";
    font-size: 25px;
    padding: 8px;
}
#botao-rifas{
    transition: 1s;
    border-style: none;
    background-color: #f8f8f800;
    margin-left: 680px;
    /* margin-top: 22px; */
    padding: 15px;
}
#RIFAS{
    width: 150px;
    height: 200px;
    margin: 30px 25px;
    display: none;
    border-style: none;
    background-color: #F8F8F8;
    margin-left: 680px;
    margin-top: 22px;
}
#area-doe-aqui{
    margin-top: 40px;
    margin-left: 22%;
    margin-bottom: 30px;
    background-color:#F8F8F8;
    width: 750px;
    height: 130px;
    border-radius:12px ;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.61);   
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.61);
}
#rodape-doe-aqui{
    width: 734px;
    height: 22px;
    background-color:#38db97;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F8F8F8;
    font-family: "Inter";
    font-size: 25px;
    padding: 8px;
}
#botao-doe-aqui{
    width: 100px;
    height: 25px;
    border-radius: 30px;
    border-style: none;
    background-color:#1E1E1E;
    margin-left: 625px;
    margin-top: 20px;;
}
#saibamais-doe{
    font-size: 12px;
    color: #F8F8F8;
    font-family: "Inter";
}
#descricao-doe-aqui{
    padding-top: 12px;
    padding-left: 10px;
    font-size: 13px;
    font-family: "Inter";
    color: #1E1E1E;
}
#rodape-telacategoria{
    height: 250px;
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
}
#logorodape-categoria{
    margin-top: 70px;
    margin-left: 180px;
}
#fale-conoscocategoria{
    font-family: "Inter";
    list-style: none;
    margin-top:39px;
    margin-left:150px;
    margin-right: 60px;
    margin-bottom: 20px;
    font-size: 35px;
}
a{
    color: #F8F8F8;
    font-size: 13px;
    text-decoration: none;
}
#linha-rodapecategoria{
    margin-top: 25px;
    height: 200px;
}
.navigation_social svg {
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 5px;
    margin-bottom:35px;
    width: 30px;
    height: 40px;
    opacity: 0.6;
    transition: all 0.4s;
}
#contato-telacategoria{
    font-family: "Inter";
    list-style: none;
    margin-top:16px;
    margin-left:22px;
    margin-right: 60px;
    margin-bottom: 20px;
    font-size: 35px;
}
.zero{
    display: none;
}
.caixao{
    transition: 1s;
}
